
.corpo {
  padding-top: 100px; /* Espaço para o conteúdo não ficar oculto atrás da barra fixa */
}

.barra {
  background-color: rgb(197, 182, 148); /* Cor de fundo da barra */
  position: fixed; /* Fixa a barra no topo */
  top: 0;
  left: 0;
  right: 0;
  height: 35px; /* Altura da barra */
  display: flex; /* Alinha os itens em linha */
  align-items: center; /* Centraliza verticalmente */
  justify-content: space-around; /* Espaça os itens igualmente */
  z-index: 1000; /* Garante que a barra fique sobre outros elementos */
}

.search_bar{
position: relative;
display: flex;
align-items: center;
background-color:#fff;
border-radius: 30px;
min-width: 30px;
height: 30px;
overflow: hidden;
transition: width 0.3s ease-in-out;
cursor: pointer; /* Adiciona um cursor pointer para indicar que é clicável */
}
.search_bar input{
border: 0;
outline: 0;
background-color: transparent;
width: 0; /* Inicialmente escondido */
font-size: 1rem;
opacity: 0; /* Invisível inicialmente */
transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.search_bar.expanded input {
  width: 200px; /* Largura expandida quando ativo */
  opacity: 1; /* Torna o input visível */
}

.icon {
  color: white; /* Cor dos ícones */
  font-size: 20px; /* Tamanho dos ícones */
  text-decoration: none; /* Remove o sublinhado dos links */
  margin: 0 10px; /* Espaçamento horizontal entre os ícones */
  transition: color 0.3s ease;
  position: relative; /* Para posicionar o tooltip corretamente */
}

.tooltip {
  display: none; /* Inicialmente oculto */
  position: absolute;
  top: 100%; /* Coloca o tooltip acima do ícone */
  left: 50%;
  font-size: 12px;
  transform: translateX(-50%);
  background-color: #00283d; /* Cor de fundo do tooltip */
  color: #fff; /* Cor do texto */
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap; /* Para evitar que o texto quebre em várias linhas */
  z-index: 1000; /* Para garantir que fique acima de outros elementos */
}

.icon:hover .tooltip {
  display: block; /* Mostra o tooltip ao passar o mouse */
}

.search_bar .icon:hover {
  color: #555; /* Cor do ícone ao passar o mouse */
}

#searchButton {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.highlight {
  background-color: yellow; /* Cor de destaque */
  color: black; /* Cor do texto destacado */
  font-weight: bold; /* Opcional: destaque em negrito */
}

.ong-name {
  display: block;
  margin-top: 0px; /* Espaço entre o logo e o nome */
  font-size: 25px; /* Tamanho da fonte */
  font-weight: bold; /* Destaque do texto */
  color: #000000; /* Cor do texto */
}

body{
    text-align:center;
    background-color: #6bbc95;
    color: #ffffff;
    margin-left: 10%;
    margin-bottom: 30px;    
    max-width: 80%;
    align-items: center;    
    background: linear-gradient(210deg,#00283d, #000508);
    font-family: 'poppins', sans-serif;    
    padding: 0;
    /*font-family: open sans, sans-serif;    
    margin: 0;*/
  }
  h1{
    font-size: 40px;
    font-weight: 300px;
  }
  h2{
    color: #48877A; 
    font-size: 40px;
  }
  h3{
    font-style: italic;
    text-align: center;
  }
  
  .titulo-verde{
    color: #9f04ff;
  }
    
  .imagens_projeto {
    width: 100%; /* Tornando as imagens responsivas */
    max-width: 300px; /* Limita a largura máxima */
    height: auto; /* Mantém a proporção */
}
  
  ul{
    list-style-type: none;
    line-height: 2;
  }
  
  a{
    text-decoration: none;
    color: #0c4923;
    font-weight: 700;
  }
  
   /*
  .fixo{
    position: fixed; Fixa a barra no topo
  } */

  .principal {
    background-color: #C4BDA0;
    position: fixed;
    top: 35px;
    left: 0;
    right: 0;
    height: 150px;
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    z-index: 999;
}

.principal ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center; /* Centraliza os itens dentro da ul */
}

.principal li {
  display: inline-block;
  line-height: 5px;
  margin: 0 50px;
  font-size: large;
}

/* Media Query para telas pequenas */
@media (max-width: 768px) {
  .principal ul {
    flex-direction: column; /* Alinha os itens verticalmente em telas pequenas */
  }

  .principal li {
    display: block;
    margin: 10px 0;
  }
}

.principal img {
    vertical-align: middle;
    width: 100px;
    height: 100px;
}

.principal a {
    text-decoration: none;
    color: #FFF;
    font-weight: normal;
    font-size: large;
    text-align: center;
}

  .parteHistoria{
    background-color:#48877A;
    margin-top: 20px ;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: justify
  }

  .parteEquipe{
    background-color:#C4BDA0;
    margin-top: 20px;
    padding-top: 5px;
  }
  .parteEventos{
    background-color: #C4BDA0;
    margin-top: 20px;
  }

  .crianca{
    border:1px solid #ffffff;   
    width: 240px;
    height: 200px;
    display: flex;
  }
  
  #criancas{
    padding-top: 100px; /* Espaço para o conteúdo não ficar oculto atrás da barra fixa */
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .crianca p {
    margin:0px;
    color: #ffffff;
  }

  .crianca fieldset {
    margin-bottom: 0;
    border: none;
}

  button{
    background-color: #a0a7a5;
    border: 1px solid transparent;
    padding: 2px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  #modal{
    background-color: rgba(32, 88, 56, 0.8);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000; /* Para garantir que o modal fique no topo */
  }

  
  #modalDoeAqui{
    background-color: rgba(32, 88, 56, 0.8);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000; /* Para garantir que o modal fique no topo */
  }

  #modalApadrinhamento{
    background-color: rgba(32, 88, 56, 0.8);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000; /* Para garantir que o modal fique no topo */
  }

  #inscricao {
    background-color: hsl(165, 74%, 31%);
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 50%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    text-align: left; /* Texto alinhado à esquerda */
}

fieldset {
    margin-bottom: 20px; /* Espaçamento entre campos */
    border: none; /* Remove a linha ao redor dos grupos */
}

.meu-modal label {
    font-weight: bold;
    color: white;
    margin-bottom: 8px; /* Espaçamento entre label e input */
}

.meu-modal input[type="text"], .meu-modal select {
    width: 100%; /* Largura total */
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box; /* Garante que o padding seja incluído no tamanho total */
}

.botao-container {
  display: flex;
  justify-content: center; /* Centraliza o botão */
}

button {
  padding: 10px 20px;
  background-color: #a0a7a5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

button#botaoInscricao {
    padding: 15px 20px;
    background-color: #ff6600;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#botaoInscricao:hover {
    background-color: #ff4500; /* Mudança de cor ao passar o mouse */
}

.slider{
    overflow: hidden;
    margin-top: 20px ;

}
.slider input[type="radio"] {
    display: inline-block;
    margin-right: 10px; /* Espaçamento entre os botões */
}

.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    /*text-align: justify;*/
    transition: all 500ms ease;
}

.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 96%;
    padding: 2%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-200%);
}

/*.slider > input:nth-child(4):checked ~ .slider-content{
    transform: translateX(-300%);
}*/
 
.slider_img {
  height: 200px;
  width: 100%;
}
 
#labelFinal {
  margin-top: 50px; /* Ajuste o valor conforme necessário */
  text-align: center; /* Se quiser centralizar o label */
}